<form (submit)="handleFetchData()" class="flex flex-col">
  <label class="form-control w-full">
    <div class="label">
      <span class="label-text">Spreadsheet URL</span>
    </div>
    <input
      [(ngModel)]="url"
      name="url"
      type="url"
      placeholder="Type here"
      class="input input-bordered w-full"
    />
    <div class="label"></div>
  </label>

  <button class="btn btn-neutral" [disabled]="this.isFetching">
    @if(this.isFetching) {<span class="loading loading-spinner"></span>}

    <span> Download data </span>
  </button>
</form>
