<p>reading-data-handler works!</p>

<button (click)="getData()">Get data</button>

<label class="form-control w-full max-w-xs">
  <div class="label">
    <span class="label-text">Spreadsheet ID</span>
  </div>
  <input
    [(ngModel)]="spreadsheetId"
    name="spreadsheetId"
    type="text"
    placeholder="Type here"
    class="input input-bordered w-full max-w-xs"
  />
  <div class="label"></div>
</label>

<label class="form-control w-full max-w-xs">
  <div class="label">
    <span class="label-text">Sheet ID</span>
  </div>
  <input
    [(ngModel)]="sheetId"
    name="sheetId"
    type="text"
    placeholder="Type here"
    class="input input-bordered w-full max-w-xs"
  />
  <div class="label"></div>
</label>
