<div>Current day: {{ this.dataHandlerService.currentDay }}</div>

<button class="btn" (click)="this.dataHandlerService.completeCurrentDay()">
  Complete reading
</button>

@if (this.dataHandlerService.currentDayData) {
<h2>Current day reading</h2>

<ul>
  <li>Period: {{ this.dataHandlerService.currentDayData.period }}</li>
  <li>
    First reading:
    {{ this.dataHandlerService.currentDayData.firstReading.name }}
  </li>
  <li>
    Second reading:
    {{ this.dataHandlerService.currentDayData.secondReading?.name }}
  </li>
  <li>
    Third reading:
    {{ this.dataHandlerService.currentDayData.thirdReading.name }}
  </li>
</ul>
}
