@if (!this.dataHandlerService.localData) {
<div class="flex flex-col justify-center align-middle gap-4">
  <div>Please upload reading plan.</div>
  <button class="btn btn-primary">
    <a [routerLink]="PlanViewerRoute"> Navigate to plan tab </a>
  </button>
</div>
} @else if (this.dataHandlerService.hasFinishedAllReadings) {
<div>You finished your program!</div>
} @else if (!this.dataHandlerService.currentDayData) {
<div>No reading for today.</div>
} @else {
<div class="flex flex-col gap-4 w-[94vw]">
  <div class="alert flex flex-col w-full">
    <div class="flex align-middle justify-between gap-4 w-full flex-1">
      <p>
        Day {{ dataHandlerService.currentDay }} /
        {{ dataHandlerService.maxDay }}
      </p>

      <progress
        class="progress progress-info my-auto flex-1"
        [value]="dataHandlerService.currentDay"
        [max]="dataHandlerService.maxDay"
      ></progress>
    </div>

    <div class="w-full">
      Period: {{ this.dataHandlerService.currentDayData.period }}
    </div>
  </div>

  <app-reading-card
    variant="accent"
    readingTitle="First reading"
    imageUrl="/assets/first-reading.jpg"
    [readingName]="this.dataHandlerService.currentDayData.firstReading.name"
  />

  @if(this.dataHandlerService.currentDayData.secondReading) {
  <app-reading-card
    variant="secondary"
    readingTitle="Second reading"
    imageUrl="/assets/second-reading.jpg"
    [readingName]="this.dataHandlerService.currentDayData.secondReading.name"
  />
  }

  <app-reading-card
    variant="primary"
    readingTitle="Third reading"
    imageUrl="/assets/third-reading.jpg"
    [readingName]="this.dataHandlerService.currentDayData.thirdReading.name"
  />

  <button class="btn" (click)="this.dataHandlerService.completeCurrentDay()">
    Complete reading
  </button>
</div>

}
