@if (!this.dataHandlerService.localData) {
<div class="flex flex-col justify-center align-middle gap-4">
  <div>Please upload reading plan.</div>
  <button class="btn btn-primary">
    <a [routerLink]="PlanViewerRoute"> Navigate to plan tab </a>
  </button>
</div>
} @else if (this.dataHandlerService.hasFinishedAllReadings) {
<div>You finished your program!</div>
} @else if (!this.dataHandlerService.currentDayData) {
<div>No reading for today.</div>
} @else {
<div class="flex flex-col gap-2 w-[94vw] h-full">
  <div class="alert flex flex-col w-full">
    <div class="flex flex-col align-middle justify-between gap-2 w-full flex-1">
      <div class="flex flex-row w-full justify-evenly">
        <p class="">
          {{ dataHandlerService.currentDay }} /
          {{ dataHandlerService.maxDay }}
        </p>

        <div class="">
          Period: {{ this.dataHandlerService.currentDayData.period }}
        </div>
      </div>

      <progress
        class="progress progress-info my-auto flex-1"
        [value]="dataHandlerService.currentDay"
        [max]="dataHandlerService.maxDay"
      ></progress>
    </div>
  </div>

  <app-reading-card
    variant="accent"
    readingTitle="First"
    imageUrl="/assets/first-reading.jpg"
    [readingName]="this.dataHandlerService.currentDayData.firstReading.name"
  />

  @if(this.dataHandlerService.currentDayData.secondReading) {
  <app-reading-card
    variant="secondary"
    readingTitle="Second"
    imageUrl="/assets/second-reading.jpg"
    [readingName]="this.dataHandlerService.currentDayData.secondReading.name"
  />
  }

  <app-reading-card
    variant="primary"
    readingTitle="Third"
    imageUrl="/assets/third-reading.jpg"
    [readingName]="this.dataHandlerService.currentDayData.thirdReading.name"
  />

  <button
    class="btn mt-auto mb-2"
    (click)="this.dataHandlerService.completeCurrentDay()"
  >
    Complete reading
  </button>
</div>

}
