<div
  [class]="[
    'card',
    'card-compact',
    'w-full',
    'text-primary-content',
    variant === 'primary'
      ? 'bg-primary'
      : variant === 'secondary'
      ? 'bg-secondary'
      : 'bg-accent'
  ]"
>
  <div class="card-body">
    <div class="flex justify-start align-middle w-full h-full">
      <div class="flex flex-col">
        <h2 class="card-title">{{ readingTitle }}</h2>
        <p>{{ readingName }}</p>
      </div>

      <div class="ml-auto my-auto">
        <button class="btn btn-sm">
          <a [href]="bibleGatewayUrl" target="_blank">Read</a>
        </button>
      </div>
    </div>
  </div>
</div>
